*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

/* Background */

.login-container{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#b1ea92d2,#ed0b96);
}

/* Card */

.login-card{
background:white;
padding:40px;
border-radius:12px;
width:350px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

/* Title */

.login-card h1{
margin-bottom:25px;
color:#333;
}

/* Inputs */

.login-card input{
width:100%;
padding:12px;
margin:10px 0;
border:1px solid #ccc;
border-radius:6px;
font-size:14px;
}

.login-card input:focus{
outline:none;
border-color:#2b9014;
}

/* Buttons */

.btn-box{
display:flex;
justify-content:space-between;
margin-top:15px;
}

.btn-box button{
width:48%;
padding:10px;
border:none;
border-radius:6px;
font-size:14px;
cursor:pointer;
transition:0.3s;
}

.login-btn{
background:#e21e80;
color:white;
}

.login-btn:hover{
background:#8be283;
}

.clear-btn{
background:#7ebe60;
color:white;
}

.clear-btn:hover{
background:#d6559a;
}